<p>file-upload-container works!</p>
<form [formGroup]="uploadForm">
  <input type="file" (change)="onFileSelected($event)" multiple />
  <button (click)="fileUpload()">Upload Files</button>
</form>



<div >
  @for (file of store.files(); track $index) {
  <p>
    File {{ file.id }}: {{ file?.file?.name }} {{ file?.uploadedName }} {{ file.status}}- {{ file?.progress }}%
    
    @if(file.progress > 0 && file.progress < 100){
    <button (click)="cancelUpload(file.id)">
      Cancel
    </button>
  }
  
  </p>
}
</div>