<p>file-upload-container works!</p>
<form [formGroup]="uploadForm">
  <input type="file" (change)="onFileSelected($event)" multiple />
  <button (click)="fileUpload()">Upload Files</button>
</form>

<div *ngFor="let file of store.files(); let i = index; trackBy: trackById">
  <p>
    File {{ file.id }}: {{ file?.file?.name }} {{ file?.uploadedName }} - {{ file?.progress }}%
    <button *ngIf="(file.progress > 0 && file.progress < 100)"
            (click)="cancelUpload(file.id)">
      Cancel
    </button>
  </p>
</div>